<div class="container">
    <div class="omni-calculator" data-calculator="health/gad-7" data-width="600" data-config='{}'
        data-currency="INR" data-show-row-controls="false" data-version="3" data-t="1679741053556">
        <div class="omni-calculator-header">Psycology Calculator</div>
        <div class="omni-calculator-footer">
            <a href="https://www.omnicalculator.com/health/happiness" target="_blank"></a>
        </div>
    </div>
    <p-button icon="pi pi-bookmark" styleClass="p-button-rounded p-button-warning" (click)="openLink()"></p-button>
</div>