<div class="container">
    <div class="items" (click)="loadCalculator('/death')">
        <div>Theme 2</div>
        <div>Sustainable Mobility<br> Murder Mystery Magician </div>
        <div>Calculate Time Since Death</div>
    </div>
    <div class="items" (click)="loadCalculator('/health')">
        <div>Theme 5</div>
        <div>Health & Nutrition<br> psycology Test </div>
        <div>GAD-7 (Generalized Anxiety Disorder)</div>
    </div>
    <div class="items" (click)="loadCalculator('/happiness')">
        <div>Theme 4</div>
        <div>Mental wellbeing<br> Mental Health Calculator </div>
        <div>1. Happiness <br>2. Depression: PHQ-2</div>
    </div>
</div>
